*{
    margin: 0;
}
#head{
    height: 750px;
    width: 100%;
    background-image: url(../img/pexels-photo-220938.jpeg);
    background-size: cover;
}
.logo{
    height: 250px;
    width: 250px;
}
.about{
    float: right;
    height: 100px;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 50px;
    padding-top: 50px;
    color: white;
}
.hand{
    height: 400px;
    width: 200px;
    margin-left: 960px;
}
h1{
    font-size: 60px;
    color: white;
}
.view{
    height: 40px;
    width: 200px;
    float: right;
    background-color: #62d8f4;
    color: white;
    text-align: center;
    margin-right: 100px;
    padding: 20px;
}
.pet-stories{
    height: 800px;
    width: 100%;
    display: flex;
    padding-top: 15px;
    justify-content: space-evenly;
}
.container{
   display: flex;
}
.pet-story{
    height: 600px;
    width: 300px;
    
}
.pet-story1{
    height: 600px;
    width: 300px;
}
.pet-story2{
    height: 600px;
    width: 300px;
}
.pet{
    height: 40%;
    width: 300px;
    background-color:black;
}
.pet-img{
    height: 100%;
    width: 300px;
}
.DONATE{
    height: 10%;
    width: 300px;
    background-color: #ff8f00;
}
h5{
    color: white;
    float: right;
    font-size: 27px;
    margin-right: 10px;
    margin-top: 20px;
}
.donate-note{
    height: 40%;
    width: 300px;
    font-size: 20px;
}
p{
    padding-top: 20px;
}
.donate-butt{
    height: 10%;
    width: 300px;
    background-color: #62d8f4;
    text-align: center;
    padding-top: 20px;
    color: white;
}
#foothead{
    height: 700px;
    width: 100%;
    background-image: url(../img/pexels-photo-577777.jpeg);
    background-size: cover;
}
.foothead{
    height: 280px;
    width: 280px;
    margin-left: 90px;
}
.foot-text{
    height: 300px;
    width: 500px;
    margin-left: 90px ;

}
h4{
    font-size: 40px;
    color: white;
}
.foot-tag{
    height: 60px;
    width: 200px;
    background-color: #62d8f4;
    text-align: center;
    padding-top: 30px;
    margin-left: 90px;
}
.foot-butt{
    font-size: 20px;
}