*{
    margin: 0;
}
#head{
    height: 750px;
    width: 100%;
    background-image: url(../img/pexels-photo-220938.jpeg);
    background-size: cover;
    padding-left: 40px;
}
.logo{
    height: 250px;
    width: 250px;
}
.about{
    float: right;
    height: 100px;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 50px;
    padding-top: 50px;
    color: white;
}
.about :hover{
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
.hand{
    height: 400px;
    width: 200px;
    margin-left: 960px;
}
h1{
    font-size: 60px;
    color: white;
}
.view{
    height: 40px;
    width: 200px;
    float: right;
    background-color: #62d8f4;
    color: white;
    text-align: center;
    margin-right: 100px;
    padding: 20px;
}
.view:hover{
    text-decoration: underline;
    color: #ff8f00;
    cursor: pointer;
    background-color: aliceblue;
}
.pet-stories{
    height: 800px;
    width: 100%;
    display: flex;
    padding-top: 15px;
    justify-content: space-evenly;
}
.container{
   display: flex;
}
.pet-story{
    height: 600px;
    width: 300px;
    
}
.pet-story1{
    height: 600px;
    width: 300px;
}
.pet-story2{
    height: 600px;
    width: 300px;
}
.pet{
    height: 40%;
    width: 300px;
    background-color:black;
}
.pet-img{
    height: 100%;
    width: 300px;
}
.DONATE{
    height: 10%;
    width: 300px;
    background-color: #ff8f00;
}
h5{
    color: white;
    float: right;
    font-size: 27px;
    margin-right: 10px;
    margin-top: 20px;
}
.donate-note{
    height: 40%;
    width: 300px;
    font-size: 20px;
    margin-top: 70px;
}
p{
    padding-top: 20px;
}
.donate-butt{
    height: 10%;
    width: 300px;
    background-color: #62d8f4;
    text-align: center;
    padding-top: 20px;
    color: white;
}
.donate-butt :hover{
    color: #62d8f4;
    background-color: antiquewhite;
    cursor: pointer;
}
#foothead{
    height: 700px;
    width: 100%;
    background-image: url(../img/vertical-closeup-shot-cute-yawning-st-bernard-dog-with-black-wall_181624-31979.avif);
    background-size: cover;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}
.foothead{
    height: 280px;
    width: 280px;
    margin-left: 90px;
}
.foot-text{
    height: 300px;
    width: 500px;
    margin-left: 90px ;

}
h4{
    font-size: 40px;
    color: white;
}
.foot-tag{
    height: 60px;
    width: 200px;
    background-color: #62d8f4;
    text-align: center;
    padding-top: 30px;
    margin-left: 90px;
}
.foot-tag :hover{
    background-color:white;  
    cursor: pointer; 
    color: #ff8f00;
}
.foot-butt{
    font-size: 20px;
}
#footer{
    height: 300px;
    display: flex;
    background-color: black;
    padding: 100px;
    gap: 40px;
}
.footer-1{
    height: 350px;
    width: 200px;
    color: white;
    font-size: 21px;
}
.footer-2{
    color: white;
    list-style: none;
    text-align: center;
    margin-top: 9px;

}
h6{
    font-size: 15px;
    color: white;
}
.footer-3{
    color: white;
}
.facebook{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin-top: 30px;
}
.facebook :hover{
    cursor: pointer;
}
.instagram{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin-left: 30px;
    margin-top: 30px;
}
.instagram :hover{
    cursor: pointer;
    text-indent: 20px;
}